#Configuración del servidor
PORT=3000

# Configuración de MongoDB
MONGO_URI=mongodb://localhost:27017/DPS_Inventario

# Configuración de autenticación
JWT_SECRET=your_super_secret_jwt_key_here_change_this_in_production
JWT_EXPIRES_IN=7d